html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.root {
  width: 100%;
  height: 100%;
}

.panel {
  position: absolute;
  left: 20px;
  top: 20px;
}

.buttons {
  display: -webkit-flex;
  display: flex;
}

.button {
  margin-right: 10px;
  opacity: 0.5;
}

.button.active {
  margin-right: 10px;
  opacity: 1;
}

.button:last-child {
  margin-right: 0;
}

.button-history {
  width: 39px;
  height: 54px;
  background-image: url("images/button-histroy.png");
}

.button-science {
  width: 41px;
  height: 53px;
  background-image: url("images/button-science.png");
}

.button-interview {
  width: 41px;
  height: 54px;
  background-image: url("images/button-interview.png");
}

.buttons-sub {
  display: none;
  margin-top: 20px;
  width: 150px;
  font-size: 0.8em;
}

.buttons-sub.active {
  display: block;
}

.button-sub {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #000;
  margin-top: 5px;
  padding: 5px 10px;
}

.button-sub.active {
  background-color: #fff;
}

a.button-sub {
  color: #000;
  text-decoration: none;
}

.title {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 10px 15px;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.title.active {
  display: block;
}

.content {
  display: none;
  position: absolute;
  left: 190px;
  right: 20px;
  top: 50px;
  bottom: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 20px;
  color: #fff;
}

.content.active {
  display: block;
}
